ANDROID_API_KEY_FILE="{{GITHUB_WORKSPACE}}/android/android-api-key.json"
ANDROID_KEYSTORE_PATH="{{GITHUB_WORKSPACE}}/android/upload-keystore.jks"
ANDROID_KEY_ALIAS=upload
ANDROID_KEYSTORE_PASSWORD={{ANDROID_KEYSTORE_PASSWORD}}
ANDROID_KEY_PASSWORD={{ANDROID_KEY_PASSWORD}}
PACKAGE_NAME="{{PACKAGE_NAME}}"
KEY_PUBLISH_HOST="{{KEY_PUBLISH_HOST}}"
KEY_DOWNLOAD_HOST="{{KEY_DOWNLOAD_HOST}}"
ENV=production
API_HOST="{{API_HOST}}"
SAFETYNET_KEY="{{SAFETYNET_KEY}}"
HIDE_DEBUG="y"
TEST_TOKEN=
